@media (max-width: 500px) {

  h1 {
    font-size: 3rem;
    margin-bottom: .8rem;
  }
  h2{
    font-size: 2.3rem;
  }

  .container {
    grid-gap: 0.1rem;
  }

  .card {
    font-size: 2.5rem;
    padding: .5rem;
  }
}