@font-face {
  font-family: "SEGA LOGO FONT";
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "SEGA LOGO FONT";
  font-size: 4rem;
  font-weight: normal;
  color: #ea5847;
  margin: 2.2rem 0 1rem;
}
h2 {
  font-family: "SEGA LOGO FONT";
  font-size: 3rem;
  font-weight: normal;
  color: #ea5847;
  line-height: 3rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 30%;
}
p {
  font-family: monospace;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
body {
  display: grid;
  justify-items: center;
  align-items: center;

  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;

  max-width: 960px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: rgb(241, 241, 241);
  font-size: 3rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 4px 8px 8px rgba(7, 7, 7, 0.13);
  transition: transform 0.5s, visibility 1.5s, filter 0.5s;
}

.card:hover {
  transform: scale(1.07) rotate(2deg);
}

.back {
  display: none;
}

.open-active {
  border: 3px solid rgb(172, 8, 8);
}

.open-active .front {
  display: none;
}
.open-active .back {
  display: block;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in, visibility 0.5s;
}

.show {
  display: block !important;
}

.pairEffect {
  transform: rotate(-3deg) scale(1.15) !important;
  filter: grayscale(200%);
}

button {
  border: none;
  outline: none;
  padding: 0.6rem 1.6rem;
  margin: 1rem 0.8rem 0 0;

  background-color: rgb(70, 5, 11);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
  box-shadow: 4px 8px 8px rgba(7, 7, 7, 0.24);
}

button:hover {
  filter: brightness(200%);
}
